.btn {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  color: #F3B552;
  text-decoration: none;
  font-size: 16px;
  border: 1px solid #f3b55276; /* Constant border */
  cursor: pointer;
  margin-top: 20px;
  transition: transform 0.3s ease;
}

.btn-3 {
  font-weight: bold;
  letter-spacing: 1px;
  outline: none;
  position: relative;
}

.btn.hover-border-3::before,
.btn.hover-border-3::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 0%;
  opacity: 0;
  transition: width 0.2s 0.15s linear, height 0.15s linear, opacity 0s 0.35s;
}

.btn.hover-border-3::before {
  top: -4px; /* Positioned slightly outside the main border */
  right: 4px;
  border-top: 1px solid #f3b55276;
  border-left: 1px solid #f3b55276;
}

.btn.hover-border-3::after {
  bottom: -4px; /* Positioned slightly outside the main border */
  left:4px;
  border-bottom: 1px solid #f3b55276;
  border-right: 1px solid #f3b55276;
}

.btn.hover-border-3:hover::before,
.btn.hover-border-3:hover::after {
  width: 100%;
  height: 99%;
  opacity: 1;
  transition: width 0.2s linear, height 0.15s 0.2s linear, opacity 0s;
}

/* Hover effect for scaling */
.btn.hover-border-3:hover {
  transform: scale(1.05); /* Slight scaling on hover */
}
