body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scroll bars */
  }
  
.circle {
    position: absolute;
    width: 900px;
    height: 900px;
    border-radius: 50%; 
    transition: all 0.9s linear;
    z-index: 1;
  }
  
  .circle {
    animation: expandAndFade 1.9s forwards;
  }
  
  @keyframes expandAndFade {
    0% {
      width: 10px;
      height: 10px;
      opacity: 0.09;
    }
    100% {
      width: 100px;
      height: 100px;
      opacity: 0;
      transform: translate(-50px, -50px);
    }
  }
  