
h1 {
    font-family: "Fira Sans", sans-serif;
    font-weight: 900 !important; 
    font-style: normal;
}

h2 {
    font-family: "Fira Sans", sans-serif;
    font-weight: 200 !important;
    font-style: normal;
}